/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* end of css reset */

.container {
  display: grid;
  grid-template: auto 1fr / 250px 1fr;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}
/* side bar */
.sidebar {
  display: flex;
  flex-direction: column;
  grid-row: 1/ -1;
  background-color: #1992d4;
  color: white;
  padding-top: 15px;
  padding-right: 80px;
}

.logo-svg {
  height: 45px;
  color: white;
  filter: invert(1);
  padding-left: 30px;
}
.sidebar nav img {
  height: 25px;
  filter: invert(1);
}
.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-list {
  margin-bottom: 40px;
}

.nav-list-item {
  padding: 10px;
  text-align: center;
}

.sidebar nav:last-child {
  margin-top: 40px;
}

/*  header */

.header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
  box-shadow: 0px 4px 6px 0px #0000004d;
  background-color: white;
  position: relative;
  z-index: 1;
  font-weight: 900;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.search {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.search-icon {
  height: 30px;
}

.search-bar {
  width: 900px;
  height: 30px;
  border-radius: 15px;
  background-color: #e2e8f0;
  margin-left: 20px;
  outline: none;
  border: none;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}
.user-profile {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user-bell-icon {
  height: 30px;
}
.profile-icon {
  height: 45px;
}

.user-greeting {
  display: flex;
}

.profile-icon-greeting {
  height: 80px;
  margin: 20px;
}
.greeting-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: auto;
}

.header-bottom button {
  color: white;
  background-color: #1992d4;
  border-radius: 20px;
  padding: 8px 24px;
  min-width: 90px;
  border: none;
  cursor: pointer;
  font-size: larger;
}

.header-buttons {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

/* end of header */
/* Main content */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 40px;
  background-color: #e2e8f0;
}

.title-project {
  margin-left: 16px;
  margin-bottom: 8px;
}
.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 5px #0000001a;
  border-left: 8px solid #f0b429;
  min-height: 200px;
}

/* elements */
.interactive-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: auto;
}
.interactive-buttons button {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.favorite-icon {
  height: 20px;
}
.view-icon {
  height: 20px;
}

.fork-icon {
  height: 20px;
}

/* main content aside  */

.announcements {
  margin-right: 26px;
}
.announcements-container {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  padding: 10px 0;
  margin-top: 10px;
}

.announcement-card {
  background-color: white;
  padding: 20px;
  border-bottom: rgb(201, 196, 196) solid 1px;
  margin: 0 15px;
}

.announcement-card:last-child {
  border-bottom: none;
}
.title-main-aside {
  margin-bottom: 8px;
}

/* trending section */
.trending {
  margin-right: 26px;
}
.title-main-aside-two {
  margin-top: 16px;
  margin-bottom: 8px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.trending-user-card {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.trending-user-card:last-child {
  margin-bottom: 0;
}
